# Interactive Python shell.
ipython
# Jupyter notebook/lab support.
ipykernel
# Jupyter lab.
jupyterlab
# Jupyter notebook.
notebook
# Numerical arrays.
numpy
# Testing.
pytest
# Quantum computing framework.
qiskit
# Qiskit Aer simulator.
qiskit_aer
# Plotting library.
matplotlib